<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- library フラグメントの定義（JavaScript／CSS） -->
	<th:block th:fragment="library">
		<link rel="stylesheet" th:href="@{/css/list.css}">
	</th:block>

	<!--	main フラグメントの定義（メインコンテンツ）	-->
	<div th:fragment="main">

		<div class="header border-bottom">
			<!--	タイトル表示	-->
			<h1 class="h2">[[${title}]]</h1>
			<!--	メッセージ表示	-->
			<div class="flex">
				<div th:if="${message}" class="alert arert-success">[[${message}]]</div>
			</div>
		</div>
		<!--	本体表示	-->
		<div>
			<div class="flex">
				<div class="name">
					 [[${name}]]
				</div>
				<form id="output" method="post" th:action="@{${req} + '/Daily/Output/Excel'}">
					<input type="hidden" name="date" th:value="${date}"/>
					<button form="output" type="submit" class="btn btn-primary">
						Excel出力
					</button>
				</form>
			</div>
			<div class="flex margin_1em">
				<div class="date">
					[[${japanese_Date}]]
				</div>
				<form id="date" method="post" th:action="@{${req} + '/SelectMonth'}">
					<input type="hidden" name="date" th:value="${date}"/>
					<button form="date" type="submit" class="btn btn-primary">
						月選択
					</button>
				</form>
				　
				<form id="cash" method="post" th:action="@{${req} + '/LastMonth'}">
					<input type="hidden" name="date" th:value="${date}"/>
					<button form="cash" type="submit" class="btn btn-primary bg_green">
						前月＜
					</button>
				</form>
				　
				<form id="insert" method="post" th:action="@{${req} + '/NextMonth'}">
					<input type="hidden" name="date" th:value="${date}"/>
					<button form="insert" type="submit" class="btn btn-primary bg_green">
						＞翌月
					</button>
				</form>
			</div>
			<table class="table table-striped table-bordered table-hover monthly">
				<thead class="thead-light">
					<tr>
						<th th:each="label_Set : ${label_Set_List}" class="th-width"
														th:width="${label_Set.value * 1.5} + '%'">
							[[${label_Set.name}]]
						</th>
						<th class="th-width"></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>                             </td>
						<td>                             </td>
						<td class="center">前月繰り越し  </td>
						<td>                             </td>
						<td>                             </td>
						<td class="num3">[[${carryover}]]</td>
					</tr>
					<tr th:each="action, status : ${action_List}" th:object="${action}">
						<td>[[*{#temporals.format(date, 'd日')}]]                 </td>
						<td>[[*{subject}]]              </td>
						<td>[[*{apply}]]                </td>
						<th:block th:if="*{income} == 0">
							<td></td>
						</th:block>
						<th:block th:if="*{income} != 0">
							<td class="num3">[[*{income}]]</td>
						</th:block>
						<th:block th:if="*{spending} == 0">
							<td></td>
						</th:block>
						<th:block th:if="*{spending} != 0">
							<td class="num3">[[*{spending}]]</td>
						</th:block>
						<td class="num3">
							[[${carryover} + ${income.get(status.index)} - ${spending.get(status.index)}]]
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>                           </td>
						<td>                           </td>
						<td class="center">翌月繰り越し</td>
						<td>                           </td>
						<td>                           </td>
						<th:block th:each="action, status : ${action_List}">
							<th:block  th:if="${status.last}">
								<td class="num3">
									[[${carryover} + ${income.get(status.index)} - ${spending.get(status.index)}]]
								</td>
							</th:block>
						</th:block>
						<th:block th:if="${action_List.size() == 0}">
							<td class="num3">[[${carryover}]]</td>
						</th:block>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>                            </td>
						<td>                            </td>
						<td class="center">合　計         </td>
						<th:block th:each="action, status : ${action_List}">
							<th:block  th:if="${status.last}">
								<td class="num3">[[${income.get(status.index)}]]  </td>
								<td class="num3">[[${spending.get(status.index)}]]</td>
							</th:block>
						</th:block>
						<th:block th:if="${action_List.size() == 0}">
							<td class="num3"></td>
							<td class="num3"></td>
						</th:block>
						<td>                            </td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<a th:href="@{/main}">メインページへ</a>
	</div>

</html>
