<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<!-- library フラグメントの定義（JavaScript／CSS） -->
	<th:block th:fragment="library">
		<link rel="stylesheet" th:href="@{/css/list.css}">
	</th:block>
	<!--	main フラグメントの定義（メインコンテンツ）	-->
	<div th:fragment="main">
		<div class="header border-bottom">
			<!--	タイトル表示	-->
			<h1 class="h2">[[${title}]]</h1>
			<!--	メッセージ表示	-->
			<div class="flex">
				<div th:if="${message}" class="alert arert-success">[[${message}]]</div>
			</div>
		</div>
		<!--	本体表示	-->
		<div>
			<div class="flex">
				<div class="name">
					 [[${name}]]
				</div>
			</div>
			<div class="center margin_1em">
				<div class="date">
					[[${year}]]
				</div>
			</div>
			<form id="subject" method="post" th:action="@{${req} + '/Year'}">
				<input type="hidden" name="year" th:value="${year}"/>
				<table class="center">
					<tr>
						<td class="guide">
							[[${guide}]]
						</td>
					</tr>
					<tr>
						<td>
							<select name="subject" th:value="${subject}">
								<option th:each="option : ${options}" th:value="${option}">[[${option}]]</option>
							</select>
							<button form="subject" type="submit" class="btn btn-primary">
								決定
							</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
		<br>
		<a th:href="@{/main}">メインページへ</a>
	</div>
</html>
