<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

	<!-- ページタイトルの反映場所 -->
	<title th:text="${title ?: _}">CareRecord</title>

	<!-- 共通の CSS 読込	-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" th:href="@{/css/common.css}">

	<!-- 個別の JavaScript／CSS をインポート -->
	<th:block th:replace="__${library}__?:_"></th:block>
</head>
<body>

	<!-- ヘッダー -->
	<div id="header">
		<div class="flex_space_between">
			<a th:href="@{${req} + '/'}">
				<img src="/image/logo.png" title="ロゴ" class="padding_s">
			</a>
			<nav class="header_nav flex_space_between">
				<a th:href="@{${req} + '/Daily'}">
					<button type="button" class="btn btn-primary">出納帳</button>
				</a>
				<a th:href="@{${req} + '/Output}">
					<button type="button" class="btn btn-primary">一覧</button>
				</a>
				<a th:href="@{${req} + '/Office'}">
					<button type="button" class="btn btn-primary">事業所情報</button>
				</a>
				<a th:href="@{${req} + '/Setting'}">
					<button type="button" class="btn btn-primary">設定</button>
				</a>
				<form method="post" action="/shutdown">
					<button type="submit" class="btn btn-primary bg_red">終了する</button>
				</form>
			</nav>
		</div>
	</div>

	<!-- メインコンテンツの埋め込み場所 -->
	<div id="main" th:include="__${main}__"></div>

	<!-- フッター -->
	<div id="footer">
		<hr>
		<a th:href="@{${req} + '/'}">
			<img src="/image/logo.png" title="ロゴ"  class="padding_s">
		</a>
	</div>
	<script type="text/javascript" th:src="@{/js/common.js}"></script>
</body>
</html>